<div>
  <div class="container">
    <div class="mt-5">
      <mat-card>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [(ngModel)]="user.username" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="mt-3">
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password"  (change) = "getPasswordErrorMessage()">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>{{weakPasswordMessage}}</mat-error>
          </mat-form-field>
        </div> 
          <button mat-raised-button color="primary" (click)="login()">Submit</button>
      </mat-card>
    </div>
  </div>
</div>